
/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');



/* ------------------------------------------------------------------------------
	Titles and text
-------------------------------------------------------------------------------*/


h1 {
	font-family: "Catamaran";
	font-size: 60px;
	color: #dad5df;
	font-weight: 600;
  padding-bottom: 10px;
	height: 40px;
  text-align: center;
}
h2 {
	font-family: "Heebo";
	font-size: 16px;
	color: #2d3033;
	margin: 0;
	font-weight: 1000;
}
h3 {
  font-family: "Catamaran";
  text-align: center;
	font-size: 24px;
	color: #dad5df;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #dad5df;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #dad5df;
	font-weight: 700;
}


/* ------------------------------------------------------------------------------
	Grid stuff
-------------------------------------------------------------------------------*/

.grid_items {
  padding: 2px;
  display: grid;
  grid-template-columns: 100%;
  max-width: 800px; 
  margin: 0 auto 0 auto !important;
  padding: 0 5 0 5; 
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  padding-bottom: 18rem;
}
.grid_items > div {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  width: 360px;
  margin:auto;
}
.grid_items > div:nth-child(3n + 2) {
  background-color: #ffffff;
}
.grid_items > div:nth-child(3n) {
  background-color: #ffffff;
}


/* ------------------------------------------------------------------------------
	DIFFERENT SCREEN SIZES
-------------------------------------------------------------------------------*/

/* One column*/
@media only screen and (min-width: 250px) {
  .grid_items {
    grid-template-columns: 100%;
    max-width: 420px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    text-align: center;
    align-items: center;
  }

  .wrap {
    grid-template-columns: 100%;
    max-width: 360px; 
    margin: 0 auto 0 auto !important;
	  padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    text-align: center;
  }
  .grid_items > div {
    padding: 10px;
  }
  .rubric {
    text-align: left;
  }


}


/* Two columns*/
@media only screen and (min-width: 900px) {
  .grid_items, .wrap {
    grid-template-columns: 47.5% 47.5%;
    max-width: 880px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    text-align: left;
    align-items: center;
  }
  .grid_items > div {
    padding: 10px;
  }
}


/* Three columns*/
@media only screen and (min-width: 1400px) {
  .grid_items, .wrap {
    grid-template-columns: 33% 33% 33%;
    max-width: 1400px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    align-items: center;
  }
  
  .grid_items > div {
    padding: 10px;
  }
}


/* Four columns*/
@media only screen and (min-width: 1800px) {
  .grid_items, .wrap {
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 1900px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    align-items: center;
  }
  .grid_items > div {
    padding: 10px;
  }
}




/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/



body {
	font-family: "Crimson Text";
	font-weight: 400;
  background-color: #212121;
	margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
	float: none !important; 
}
